@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(variables.css);
@import url(animation.css);

@import url(components/header.css);
@import url(components/form.css);
@import url(components/footer.css);

@import url(scrollbar.css);
@import url(mini_message.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.5s;
  font-family: sans-serif;
  font-family: 'Bad Script', cursive !important;
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  color: var(--white);
  background: var(--black);
  position: relative;
  left: 0;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364, #0f2027);
  background-size: 600% 600%;
  animation: gradient 15s ease infinite;
}

#page {
  margin: 50px 10px;
}

a {
  text-decoration: none;
}

.button {
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * .71);
  letter-spacing: -.02vw;
  padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
  background-color: transparent;
  color: var(--white);
  border-radius: 10em;
  border: rgb(255 255 255 / .4) 3px solid;
  outline: none;
  font-size: 1.1rem;
}

.button:hover {
  background: var(--yellow);
  color: var(--balck);
}

#content {
  width: 100vw;
  min-height: 80vh;
  padding: 1rem;
  padding-top: 60px;
  padding-bottom: 80px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}