:root {
    --white: white;
    --halfWhite: rgba(255, 255, 255, 0.1);
    --black: black;
    --halfBlack: rgba(0, 0, 0, 0.2);
    --blue: rgb(37, 0, 255);
    --yellow: #ffdd33;
    --gradient: linear-gradient(0deg, rgb(152, 207, 195), rgb(88, 82, 182), rgb(37, 0, 255));
    --red: red;
    --orange: rgb(246, 75, 0);

    --halfRadius: 5px;
    --radius: 10px;

    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);

    --z-upt-section-button: 1;
    --z-upt-section: 2;
    --z-header: 4;
}