body .footer {
  z-index: 1;
  background: var(--orange);
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 50px;
  margin-top: 0px;
  position: relative;
  left: 0;
}


body .footer .content {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

body .footer .content a,
body .footer .content p {
  color: var(--black);
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 7px;
}

body .footer .content a:hover,
body .footer .content p:hover {
  color: var(--white);
  border-color: var(--white);
}

body .footer .content b {
  color: white;
}

body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}

body .footer .content>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}